<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} - Acme</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
<div id="container">
    {% block content %}{% endblock %}
</div>

<script src="/assets/lib/jquery/dist/jquery.min.js"></script>
<script src="/assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/js/postComment.js"></script>
</body>
</html>