{% extends "index.html" %}

{% block title %}Facebook - Profile{% endblock %}

{% block content %}
<p>{{ name }}   <a href="logout.php">Logout</a></p>
{% for item in data %}
    <div class="wrapper">
        <div class="post">
            <div class="post-header">
                <div class="post-header__dp">
                    <img class="post-header__dp--holder"
                         src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xla1/v/t1.0-1/p160x160/12310683_10208224569280060_2394597115133257066_n.jpg?oh=e104af77c2a82da5ced8e10f257abda8&oe=5802191B&__gda__=1477378048_18d4f63db2ad6f2dd72a237acc42d07e">
                </div>
                <div class="post-header__username">
                    <a class="post-header__username--text" href="">{{item.name}}</a>
                </div>
            </div>

            <div class="post-body">
                <div class="post-body__img">
                </div>

                <div class="post-body__caption">
                    <span class="post-body__caption--text">
                        {{item.post}}
                    </span>
                </div>
            </div>
            {% for comment in item.comments %}
            <div class="post-comments">
                <div class="post_comment--body">
                    <div class="post_comment--username">
                        <span class="post_comment--username__text">
                            {{comment.c_name}}
                        </span>
                    </div>

                    <div class="post_comment__body">
                        <span class="post-comment__body--text">
                            {{comment.comment}}
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="comment_post">
                <div class="post-comment__dp">
                    <img
                        src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xla1/v/t1.0-1/p160x160/12310683_10208224569280060_2394597115133257066_n.jpg?oh=e104af77c2a82da5ced8e10f257abda8&oe=5802191B&__gda__=1477378048_18d4f63db2ad6f2dd72a237acc42d07e"
                        alt="" class="comment_image--holder">
                </div>

                <div class="post-comment__input">
                    <form method="POST" action="postComment.php">
                        <input type="hidden" name="user_id" value="<?= $_SESSION['id'] ?>">
                        <input type="hidden" name="post_id" value="<?= $posts['id'] ?>">
                        <input name="comment" type="text" class="comment">
                        <input type="submit" value="Comment" class="btn btn-default btn-lg">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}