
html,body{
    height : 100%;
    width : 100%;
    padding : 0px;
    margin : 0px;
}
.form{
    width : 300px;
    height : auto;
    margin : 50px auto;
}

*{
    font-family: 'Roboto', sans-serif;
}

body{

    background-color: #f9f2f4;
}

.wrapper{
    width : 80%;
    height : 100%;
    margin : 0px auto;
}
.nav .newpost,
.nav .nav__header{
    float: left;
}
.nav__header .profile,
.nav__header a{
    display: inline-block;
    float: left;
}
.nav__header .profile{
    margin-right: 10px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: #0f0f0f;
}
.profile img{
    width: 50px;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;
}
.nav .newpost{
    width : 500px;
    height: 100px;
    background-color:white;
    margin-top: 50px;
    border-radius: 3px;
}
.newpost .newpost__text{
    padding-bottom:10px;
}
.newpost__file input,
.newpost__file button{
    display: inline-block;
    float: left;
}
.post{
    width : 500px;
    background-color:white;
    margin-top: 50px;
    border-radius: 3px;
}

.post .post-header{
    height : 70px;
    width : 100%;
}

.post-header .post-header__dp,
.post-header .post-header__username{
    display: block;
    float:left;
}

.post-header .post-header__dp{
    width : 80px;
    height : 100%;
}

.post-header__dp .post-header__dp--holder{
    display: block;
    height : 50px;
    width : 50px;
    border-radius : 50%;
    margin : 10px auto;
}

.post-header .post-header__username{
    width : 420px;
    height : 100%;

}

.post-header__username .post-header__username--text{
    display: block;
    margin-top:24px;
    text-decoration : none;
    color: #171717;
}

.post-body{
    height : 400px;
}

.post-body .post-body__img{
    height : 360px;
    background-color : #dceffd;
}
.post-body__img img{
    height: inherit;
    width: 500px;
    border-radius: 3px;
    text-align: center;
}

.post-body .post-body__caption{
    height : 40px;
}

.post-body__caption .post-body__caption--text{
    display:block;
    margin-top : 10px;
    margin-left : 10px;
    font-size : 14px;
    text-transform : lowercase;
    color :#7b7c7d;
}

.post-comments{
    display:block;
}

.post-comments .post_comment--body{
    display:block;
    height : 30px;
    border-top: 1px dotted lightgray;
}

.post_comment--body .post_comment--username,
.post_comment--body .post_comment__body{
    height : 100%;
    display: block;
    float:left;
}
.post_comment--body .post_comment--username{
    width : 130px;
}

.post_comment--username .post_comment--username__text,
.post_comment__body .post-comment__body--text{
    display:block;
    margin-top : 5px;
    margin-left : 10px;
    font-size : 14px;
    text-transform : lowercase;
    color :#7b7c7d;
}
.post_comment--body .post_comment__body{
    width : 370px;
}

.comment_post{
    display : block;
    margin-top : 10px;
}

.comment_post{
    height : 50px;
}

.comment_post .post-comment__dp,
.comment_post .post-comment__input{
    display : inline-block;
    float:left;
}

.comment_post .post-comment__dp{
    width : 60px;
}

.post-comment__dp .comment_image--holder{
    width : 55px;
    height : 50px;
    margin-left : 5px;
}

.comment_post .post-comment__input{
    width : 440px;
}

.post-comment__input .comment{
    margin-top: 7.5px;
    width : 100%;
    height : 35px;
    border:0px;
}

.footer{
    width : 100%;
    height : 200px;

}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

